{sum ((:sum product sum-op >> sum) / product)

 product ((:product value product-op >> product) / value)

 value (number / "(" > sum ? ")")

 sum-op (:operation #crusti/regex "[+-]")

 product-op (:operation #crusti/regex "[*/]")

 number= [:with-error :expected-number
          #crusti/parser (#crusti/regex "[0-9]+")]}
